@import "mixins";

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  a {
    text-decoration: none;
    color:white;
    cursor: pointer;
  }

  #root {
    .App {
      @include background-scheme;
      display: grid;
      grid-template-rows: 5em 1fr auto;
      grid-template-columns: 100%;
      height: 100vh;
      color: #FFFFFF;

      .loading {
        @include loading
      }
    }
  }
  
}