html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  a {
    text-decoration: none;
  }

  #root {
    .App {
      display: grid;
      grid-template-rows: 5em 1fr auto;
      grid-template-columns: 100%;
      row-gap: 30px;
      background-color: #1E1E24;
      color: #FFFFFF;
    }
  }
  
}