.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #262626;

  .footer-left {
    width: 60%;
    .github-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .text-wrapper {
        margin-right: 1em;
      }

      .github-links {
        width: 10%;
        display: flex;
        justify-content: flex-start;

        #devpipeline-github {
          margin-right: 1em;
          color: #3aafaa
        }

        #personal-github {
          color: #9d0c0b;
        }
      }
    }
  }

  .footer-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    

  }

}