.LandingPage {
  height: 100%;
  background-color: #1E1E24;

  .shows-container {
    display: flex;
    
    .shows-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;


      .show-card {
        display: flex;
        flex-direction: column;
        // max-width: 20vh;

        .show-title {
          h2{
            width: 100%;
          }
        }
      }
    }


    
  }



}