.LandingPage {
  display: flex;
  flex-direction: column;
  width: 100%;

  .CategoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .ShowsWrapper {
    display: flex;
    flex-direction: row;

    .ShowContainer {
      margin: 0 50px
    }
  }

  }
}