.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #3B4F76;
  // border: 1px solid blue;
  
  div {
    // border: 1px solid red;
    // height: 100%;
    align-items: center;
  }
  
  .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
}