@import "mixins";

$official-site-link: #3b4f76;


.show-page{
  @include background-scheme;

  .show-information {
    display: grid;
    grid-template-columns: .7fr 1fr;
    align-items: center;
    justify-content: center;
    .show-information-column-1 {
      margin-left: 1em;
      .show-title {
        display: flex;
        justify-content: center;
        margin-right: 4.45em;
      }
      .show-image {
        img {
          width: 500px
        }
      }
    }
  
    .show-information-column-2 {
      display: flex;
      flex-direction: column;
  
      .show-network {
        a {
          color: $official-site-link;
        }
      }
      
      .show-premiered-date {
        a {
          color: $official-site-link;
        }
      }
    }
  }

  .break-wrapper {
    margin: 3em 0;
  }
  .show-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



}
