@media (max-width: 320px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    // align-items: center;
    .category-container {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 120vh;

      .header-wrapper {
        display: flex;
        width: 320px;
        text-align: center;
      }

      .pagination-container {
        display: grid;
        grid-template-columns: 10px 175px 10px;

        .shows-container {
          .shows-wrapper {
            // display: grid;
            // grid-template-columns: ;
          }
        }
      }
    }
  }
}