@media (max-width: 320px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    .category-container {
      display: flex;
      flex-direction: column;

      .header-wrapper {
        display: flex;
        width: 320px;
        text-align: center;
      }

      .pagination-container {
        display: grid;
        grid-template-columns: 10px .93fr 10px;

        .shows-container {
          .shows-wrapper {
            display: grid;
            grid-template-columns: .5fr .5fr .5fr;
            justify-items: center;

            
            .show-card {

              .show-image {
                a {
                  img {
                    width: 80px;
                  }
                }
              }

              .show-description {
                .rating-description {
                  display: block;
                }

                .description-paragraph {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}