@media (max-width: 320px) {
  .browse-by-category {
    .shows-container {
      .shows-wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;

        .show-card {
          .show-image {
            img {
              width: 100px;
              height: auto;
            }
          }

          .show-title {
            width: 90px;
            text-align: center;

            h2 {
              font-size:medium;
            }
          }

          .show-description {
            width: 90px;
            height: 3.6em;
            overflow: hidden;
          }
        }
      }
    }
  }
}